.container{
  display: block;
}

.HomePage{
  background: #FFFFFF;
  display: flex !important;
  flex-direction: row;
}

.newSection{
  width: 70%;
  padding: 1rem 2.5rem;

}

.recommnendSection{
  width: 30%;
  padding: 1rem 1.0rem;
 
}

.newSection h3{
  display: block;
  font-size: 1.75rem;
  margin-bottom: -1rem
}



@media only screen and (min-width: 320px) and (max-width: 768px) {
  .HomePage .newSection{
    width: 100%;
    padding: .25rem;
  }


  .HomePage .recommnendSection{
    display: none !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .cardView .card-body .video img{
    height: 180px !important;
  }
} 

@media only screen and (min-device-width: 993px) and (max-width: 1200px) {
  
}

@media (min-width: 1200px) {
  
}


