.navBar{
    padding: .75rem 1.75rem;
    width: 100%;
    box-shadow: 0 3px 9px 0 rgb(162 176 190 / 15%);
    margin-bottom: 3px;
    position: relative;
}

.navBar > .row{
    flex-wrap: wrap;
    justify-content: space-between;
}

.navBar .logo{
    margin-right: 1rem;
    height: fit-content;
    font-size: 1.25rem;
    background: -webkit-linear-gradient(-45deg,#0F0C9A, #77ACF1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navBar .navContainer{
    padding: .5rem 1rem;
}

.navBar .navContainer ul{
    list-style-type: none;
}

.navBar .navContainer ul li{
    padding: .5rem 2.5rem;
    text-align: center;
}

.navBar .navContainer ul li a{
    color: #000000;
    font-size: 1.125rem;   
    transition: 0.2s ease-in-out all;

}

.navBar .navContainer ul li a:hover{
    color: #04009A !important;
    font-weight: 540;
}

.navBar .searchBar{
    padding: .5rem 1rem;
    position: relative;
}

.navBar .searchBar::after{
    position: absolute;
    content: "";
    bottom: .375rem;
    width: calc(100% - 2rem);
    height: 1px;
    background-color: #000000;
}

.navBar .searchBar input{
    border: 0;
    outline: none;
    color: rgba(0, 0, 0, .6);
    font-size: 1rem;
    line-height: 1.2;
}

.navBar #loginBtn{
    color: #fff;
    padding: 1.25rem 1.75rem;
    background-color: #04009A;
    border-radius: 4px;
}

.navBar #postBtn{
    padding: 1.25rem 1.75rem;
    margin-right: 1rem;
}

.navBar .menu{
    display: none;
}

.mobileNav{
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content;
    padding: .25rem;
    background: #fff;
    z-index: 99 !important;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, .2),0 2px 4px 0 rgba(0, 0, 0, .1),inset 0 0 0 1px rgba(255, 255, 255, .5);
}
@media (min-width: 320px) and (max-device-width: 768px) {
    .navBar .navContainer{
        display: none;
    }
    .navBar #loginBtn{
        display: none;
    }
    
    .navBar #postBtn{
        display: none;
    }

    .navBar .menu{
        display: block;
    }
    

    .mobileNav .navContainer{
        display: block !important;
    }

    .mobileNav .navContainer ul{
        flex-direction: column;
        flex-wrap: wrap;
        padding: .25rem;
    }

}

@media (min-width: 768px) and (max-device-width: 992px) {
    
}

@media (min-device-width: 992px) and (max-device-width: 1200px) {
    .navBar .navContainer ul li{
        padding: .5rem 1.5rem;
    }
    .navBar #loginBtn{ 
        padding: 1rem 1.25rem;
    }
    
    .navBar #postBtn{
        padding: 1rem 1.25rem;
    }

    
}

@media (min-width: 1200px) {
    
}


