.cardView{
    width: 100%;
    margin-left: -.5rem;
    max-width: 1000px;
    position: relative;
    padding: 2.5rem .75rem;
    border-bottom: 1px solid rgba(0, 0, 0, .8);
}

.cardView .card-title{
    display: flex;
    flex-direction: row;
}

.cardView .card-title div:nth-of-type(2){
    flex: 1;
}

.cardView .card-title .card-title-image{
    margin-right: 0.5rem;
}

.cardView .card-title .roundedImage {
    width: 38px;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.cardView .card-row {
    content: "";
    display: table;
    clear: both;
    position: relative;
}

.cardView .card-row .card-title-title {
    float: left;
    width: 80%;
    font-size: 1.0rem;
    font-weight: 600;
    margin-bottom: .9rem;
}

.cardView .card-row .card-time-time {
    width: 80%;
    font-size: 0.775rem;
    position: absolute;
    left: 200px;
}

.cardView .card-subtitle {
    font-size: 1.0rem;
    width: 100%;
    float: right;
}


.cardView .card-body{
    display: flex;
}

.cardView .card-body .videoInteraction{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(64px + 1.5rem);
    align-items: center;
    margin-top: auto;
    margin-bottom: 0;
}


.cardView .card-body .videoInteraction div{
    text-align: center;
    margin-bottom: .75rem;
}

.cardView .card-body .videoInteraction div span{
    display: block;
}

.cardView .card-body .videoInteraction div img{
    width: 40px;
    height: 40px;
    display: block;
}

.cardView .card-body .video{
    flex: 1 1;
    padding-top: 1rem;
}

.cardView .card-body .video video{
    width: 100%;
    height: auto;
}

.card-title-descripton{
    width: 100%;
}