.cardView{
    cursor: pointer;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.cardView .card-title{
    display: flex;
    flex-direction: row;
}




.cardView .card-title .card-title-image{
    margin-right: 0.5rem;
    margin-top: 5%;
}

.cardView .card-title .roundedImage {
    width: 48px;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.cardView .card-row {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.cardView .card-row .card-title-title {
    font-size: 1.0rem;
    flex-shrink: 0;
    margin-left: 5%;
}

.cardView .card-row .card-time-time {
    flex-shrink: 0;
    font-size: 0.775rem;
    margin-right: 5%;
    margin-top: 1%;
}

.cardView .card-subtitle {
    font-size: 1.0rem;
    width: 100%;
    margin-top: 5%;
    margin-left: 5%;
    font-weight: 600;
}

.cardView .card-subtitle a{
    color: #333;
}


.cardView .card-body{
    display: flex;
}

.cardView .card-title > div:nth-of-type(2){
    flex: 1 1;
}

.cardView .card-body .videoInteraction{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(64px + 1.5rem);
    align-items: center;
    margin-top: auto;
    margin-bottom: 0;
}


.cardView .card-body .videoInteraction div{
    text-align: center;
    margin-bottom: .75rem;
}

.cardView .card-body .videoInteraction div span{
    display: block;
}

.cardView .card-body .videoInteraction div img{
    width: 40px;
    height: 40px;
    display: block;
}

.cardView .card-body .video{
    flex: 1 1;
    padding-top: 1rem;
}

.cardView .card-body .video{
    position: relative;
}

.cardView .card-body .video img{
    width: 100%;
    height: 200px;
    display: block;
}

.cardView .card-body .video:hover img.static{
    opacity: 0;
}

.cardView .card-body .video img.static {
    position:absolute;
    background: white;
}

.card-title-descripton{
    width: 100%;
}

.cardView .card-body .video .videoView{
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    height: 2rem;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.6) !important;
    line-height: 2rem;
}